<h2>Assignment Requests</h2>

<div>

    <div>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreateNewRequest", "ProjectLead")'">Create New</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Addressed To</th>
                <th scope="col">Requested For</th>
                <th scope="col">From Project</th>
                <th scope="col">To Project</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>