<h2>Current Assignments</h2>

<div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Project</th>
      <th scope="col">Team</th>
      <th scope="col">Team Lead</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
</div>