@using ProjectAndTeamManagement.Models.DepartmentLead
@model AssignProject

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Select Project</h1>

            <form method="post">
                <div class="form-group">
                    <label class="col-lg-4 form-label">Select Project</label>
                    <div class="col-md-10">
                        <select class="form-select" asp-for="ProjectId" asp-items="@(new SelectList(Model.Projects, "ProjectId", "Name"))"></select>
                    </div>
                    <br/>
                    <input type="hidden" asp-for=UserId/>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" asp-action="AssignToProject" asp-controller="Employee">Assign</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>